.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    height: 18vh;

}

.nav-items{
    padding-right: 1.5rem;
}
.nav-items > ul{
    font-size: 1.3rem;
    font-weight: bolder;
    display: flex;
    list-style-type: none;
}

.nav-items > ul >li{
    padding: 0.5rem;
    margin:0.5rem
}

.search{
    padding: 10px;
}

.res-card{
    height: 420px;
    width: 220px;
    padding: 7px;
    border: 1px solid black;
    margin-bottom: 10px;
}

.logo-container img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.res-logo{
    width: 100%;
}

.res-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card{
    margin: 20px;
    height: 400px;
    width: 200px;
    background-color: #f0f0f0;

}

.login{
    padding: 0px 20px;
    cursor: pointer;
}

.filter{
    display: flex;
    gap: 2rem;
    margin: 10px;
}

.user-card{
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
}